SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Qonoq Capsule <qonoqhotel@mail.ru>"

DATABASE_URL=

OCTO_SHOP_ID=
OCTO_SECRET=
OCTO_SPIC=
OCTO_INN=
OCTO_NDS=
OCTO_PACKAGE_CODE=
OCTO_TEST_MODE=false
OCTO_NOTIFY_URL=

FRONTEND_URL=https://qonoqcapsule.uz
FRONTEND_URL_WWW=https://www.qonoqcapsule.uz
BOOKING_TIME_ZONE=Asia/Tashkent

BOT_TOKEN=
CHAT_ID=
CHAT_ID_AIRPORT=
CHAT_ID_CITY=
CHAT_ID_NORTH=

BOOKING_BOT_TOKEN=
BOOKING_CHAT_ID=
